body {background-color: #D2ECC9;}

.tasks-container {
    background-color: white;
    width: 72vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vmin;
    padding:1vmin;
    padding-left: 2vmin;
    padding-top: 1.5vmin;
    border: 0.6vmin solid #B4CBAC;
    box-sizing: border-box;
    box-shadow: 0vmin 0.6vmin 0.6vmin rgba(0, 0, 0, 0.25);
    border-radius: 1vmin;
    padding-bottom: 3vmin;
}

.ToDoForm {
    padding: 0vmin;
    margin-left: auto;
    margin-right: auto;
    width: 68vmin;
    margin-top: 1vmin;
}

h1 {
    margin-top: 0vmin;
    margin-bottom:3.5vmin;
}

.float {
    float: left;
}

.btn-primary {
    color: #384635;
    background-color: hsl(218, 47%, 34%);
    background-color:  #f3f9ef;
    border-color: #2E4C80;
    border-color: #517848;
    font-family: Helvetica, sans-serif;
    text-align:center;
    outline: none;
    margin-left:1vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    border-radius: 2vmin;
    padding:0.5vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    font-size: 1.45vmin;
    cursor: pointer;
    font-weight:bold;

}

.btn-secondary {
    color: #384635;
    background-color: hsl(218, 47%, 34%);
    background-color:  #f3f9ef;
    border-color: #2E4C80;
    border-color: #517848;
    font-family: Helvetica, sans-serif;
    text-align:center;
    outline: none;
    margin-left:0vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    border-radius: 2vmin;
    padding:0.5vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    font-size: 1.45vmin;
    cursor: pointer;
    font-weight:bold;
}

.btn-tertiary {
    color: #384635;
    background-color: hsl(218, 47%, 34%);
    background-color:  #f3f9ef;
    border-color: #2E4C80;
    border-color: #517848;
    font-family: Helvetica, sans-serif;
    text-align:center;
    outline: none;
    margin-left:0.5vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    border-radius: 2vmin;
    padding:0.5vmin;
    padding-left: 1.3vmin;
    padding-right: 1.3vmin;
    font-size: 1.4vmin;
    cursor: pointer;
    font-weight:bold;
}

.center {

    margin: 0;
    margin-top: 2vmin;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}



h2 {
    text-align: center;
    color: #5e7557; 
    font-weight: normal;
    margin-bottom: 0vmin;
}
.todo {
    margin-right: 2vmin;
    font-family: Helvetica, sans-serif;
    color: #384635;
    margin: 1vmin;
    margin-left: 3vmin;
    /* display: list-item; */
    background: url('box.png') no-repeat left top;
    background-size: 2.6vmin;
    padding-left: 3vmin;
    cursor: pointer;
}


ul.checklist {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

p {
    color: #384635;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 1vmin;
    font-weight: 520;
    cursor: default;
    font-size: 2.2vmin

}

.collab-header {
    padding-top: 2vmin;
    margin-bottom:2vmin;
}

.home-button {
    text-decoration: none;
    color: #384635;
    font-size: 5vmin;
}

.other-task{
    color:#B4CBAC
}

.taskInput {
    width:50vmin;
    height: 1.5vmin;
    padding:0.5vmin;
    margin-left:1vmin;
    margin-right:0.5vmin;
    outline-color:#384635;
}


.strike {
    text-decoration: line-through;
    background: url('filledbox.png') no-repeat left top;
    background-size: 2.6vmin;
    
}

.toDoFormTitle {
    display: inline-block;
}

li {
    font-size: 2vmin;
}

h2 {
    font-size:3vmin;
}

/* .inputBar{
    border-color: #E8FADD; 
    border-radius: 5px;
    width: 1000vmin;
    outline-color: #384635;
} */

.App-header{
    color: #384635;
    background-color:#E8FADD;
    text-align:center;

}

.timer {
    background-color: #384635;
}

.timerTimer{
    color: #FFFFFF;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12vmin;
    padding-top: 0.5vmin;
    /* margin-left:auto;
    margin-right:auto;
    width:30%; */
    padding-bottom: 4vmin;
    height: 35vmin;
    position: relative;
}


.room-form .timerMargin {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.pomodoer{
    font-size: 6vmin;
}

.timerMargin{
    margin-top: 0.5vmin;
    margin-bottom:8vmin;
}

.startButton {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 25%;
    /* margin-right: -50%; */
    transform: translate(-50%,-50%);
}

.workButton {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 75%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.buttons {
    margin-top: 8vmin;
    margin-left:auto;
    margin-right:auto;
    width: 26.5vmin;
    padding-top: 2vmin;
    height: 5vmin;
    position: relative;
    margin-bottom: 0vmin;
}

.passwordPage {
    height: 20vmin;
    position: relative;
    margin-top: 40vmin

}

.passwordBar {
    height: 3vmin;
    width: 25vmin;
    border-radius: 1vmin;
    outline-color: #384635;
    margin-bottom: 2vmin;
    padding-left:1vmin;
    
}

.passwordForm {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

h3 {
    text-align: center;
}

.alert {
    color:#784b48;
    font-size: 1.5vmin;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.room {
    cursor: pointer;
}


